@using Modelo.Entidades

@model Matricula

@{
    ViewData["Title"] = "Validar Matrícula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Carrera: @Model.Carrera.Nombre</h1>
<h3>Validación de la matrícula de @Model.Estudiante.Nombre</h3>
<br />

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form method="post" asp-action="Validar">

                <div class="form-group">
                    <label class="control-label">Matrícula Id</label>
                    <input class="form-control" asp-for="MatriculaId" />
                </div>
                <div class="form-group">
                    <label class="control-label">Período</label>
                    <input class="form-control" asp-for="Periodo.Nombre" />
                </div>
                <div class="form-group">
                    <label class="control-label">Estado</label>
                    <input class="form-control" asp-for="Estado" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Validar" class="btn btn-primary" />
                </div>
            </form>            
        </div>

        <div class="col-sm-8">
            @if (Model.Matricula_Dets.Count() >0)
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr> 
                            <td>Curso</td>
                            <td>Materia</td>
                            <td>Jornada</td>
                            <td>Nota1</td>
                            <td>Nota2</td>
                            <td>Nota3</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Matricula_Dets)
                        {
                            <tr>
                                <td>@item.Curso.Nombre</td>
                                <td>@item.Curso.Materia.Nombre</td>
                                <td>@item.Curso.Jornada</td>
                                @if (item.Calificacion != null)
                                {
                                    <td>@item.Calificacion.Nota1</td>
                                    <td>@item.Calificacion.Nota2</td>
                                    <td>@item.Calificacion.Nota3</td>
                                }
                                else
                                {
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

